<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/scripts/showEditForm.js"></script>
</head>

<body>


  <nav class="navbar">
    <h3>
      <%= title %>
    </h3>
    <input type="hidden" id="num-stars">
    <label for="moon-phase">Moon Phase:</label>
    <input type="range" id="moon-phase" min="0" max="29" value="15">
    <label for="cloudiness">Cloudiness:</label>
    <input type="range" id="cloudiness" min="0" max="10" value="5">
    <label for="fog">Fog:</label>
    <input type="range" id="fog-slider" min="0" max="1" value="0">
    <div id="clouds"></div>
    <ul>
      <li><a href="#">Link1</a></li>
      <li><a href="#">Link2</a></li>
      <li><a href="#">Link3</a></li>
    </ul>
  </nav>

  <div id="container"></div>
  <video id="fog-video" src="/images/fog/fog-video.mp4" autoplay loop muted></video>
  <div class="row">
    <div class="col-md-8">
      <form action="/stars/new" method="post">
        <p>
          <input type="text" name="starsName" placeholder="Podaj nazwę gwiazdy" />
          <input type="text" name="starsDescription" placeholder="Podaj opis gwiazny" />
          <input type="text" name="starsConstellation" placeholder="Podaj konstelację" />
        </p>
        <p><button type="submit">Dodaj</button></p>
      </form>
    </div>
    <div class="col-md-4">
      <% stars.forEach(star=> { %>
        <form id="edit-form-<%= star._id %>" action="/stars/<%= star._id %>/edit" method="POST" style="display: none;">
          <p>
            <input type="text" name="starsName" value="<%= star.name %>" placeholder="Podaj nazwę gwiazdy" />
            <input type="text" name="starsDescription" value="<%= star.description %>"
              placeholder="Podaj opis gwiazdy" />
            <input type="text" name="starsConstellation" value="<%= star.constellation %>"
              placeholder="Podaj konstelację" />
          </p>
          <button type="submit">Save</button>
        </form>
        <% }); %>
    </div>
  </div>

  <table class="table table-bordered" id="data-table">
    <thead>
      <tr>
        <th>Star Name</th>
        <th>Star Description</th>
        <th>Star Constellation</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% stars.forEach(star=> { %>
        <tr>
          <td>
            <%= star.name %>
          </td>
          <td>
            <%= star.description %>
          </td>
          <td>
            <%= star.constellation %>
          </td>
          <td>
            <button type="button" onclick="showEditForm('<%= star._id %>')">Edit</button>
            <form action="/stars/<%= star._id %>?_method=DELETE" method="POST">
              <button type="submit">Delete</button>
            </form>
          </td>
        </tr>
        <% }); %>
    </tbody>
  </table>

  <script src="/scripts/moonPhases.js"></script>
  <script src="/scripts/addFog.js"></script>
  <script src="/scripts/addClouds.js"></script>
  <script src="/scripts/addStars.js"></script>
</body>

</html>